@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/configs';

.field-label {
  position: relative;
  width: 100%;

  &--with-error {
    padding-bottom: 24px;

    @media screen and (max-width: $breakpoint-down-md) {
      padding-bottom: 10px;
    }
  }

  &__label {
    justify-content: space-between;
    align-items: flex-end;
    max-width: 100%;
    position: absolute;
    display: flex;
    height: 24px;
    left: 0;
    top: -28px;
    @include text-ellipsis;

    .label {
      line-height: 1.5;
      font-size: 1rem;
      color: $grey-7;
    }

    .sub-label {
      line-height: 1.5;
      font-size: 12px;
      color: $grey-3;
    }

    &--block {
      margin-bottom: 4px;
      position: static;
    }
  }

  &__des {
    align-items: center;
    max-width: 100%;
    position: absolute;
    display: flex;
    height: 24px;
    bottom: 0;
    right: 0;

    .error-text {
      line-height: 1.5;
      font-size: 12px;
      color: $red;
    }
  }
}
