@import '../../styles/colors.scss';
@import '../../styles/configs.scss';

.header {
  background-color: $white;
  width: 100%;
  z-index: 10050;
                   

  &__content {
    min-height: 102px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav-wrapper {
    display: flex;
    align-items: center;
    
    .navbar {
      @media screen and (max-width: $breakpoint-up-md) {
        display: none;
      }
    }

    .hamburger-btn {
      display: none;

      @media screen and (max-width: $breakpoint-up-md) {
        display: block;
      }
    }
  }
}