@import '../../styles/colors';
@import '../../styles/configs';

.blog {
  padding: 20px 0;

  &__content {
    min-height: 750px;
    display: grid;
    align-items: flex-start;
    grid-template-rows: 135px;
    justify-items: center;
    margin: 0 auto;
    
    @media screen and (max-width: $breakpoint-down-xl) {
      min-height: 780px;
    }

    @media screen and (max-width: $breakpoint-down-lg) {
      grid-template-rows: 140px;
      min-height: 610px;
    }

    @media screen and (max-width: $breakpoint-down-md) {
      grid-template-rows: 130px;
      min-height: 520px;
    }

    @media screen and (max-width: $breakpoint-down-sm) {
      min-height: 420px;
    }

    @media screen and (max-width: $breakpoint-down-xs) {
      min-height: 400px;
    }
  }

  &__title {
    max-width: 220px;
    width: 100%;
    text-align: center;
    font-size: 5rem;

    @media screen and (max-width: $breakpoint-down-md) {
      max-width: 195px;
    }

    P {
      @media screen and (max-width: $breakpoint-down-lg) {
        top: 5px;
      }
    }
  }
}
